html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}
#player {
  height: 80%;
  width: 100%;
  display: inline;
  position: absolute;
}

#imagem-topo-link {
  position: absolute; /* Fixa no topo da tela */
  top: 10px;
  right: 10px; /* Alinha à direita */
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

#imagem-topo {
  width: 250px;
}

@media  {
  #imagem-topo {
    top: 5px;
    right: 5px;
  }
}
